.background {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/dog-paw-opaque.svg) no-repeat -18rem -1rem;
  background-size: 180%;
}

.container {
  padding: 6rem 2rem 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-bottom: 3rem;
}
