$primary1: '#BE52F2';
$primary2: '#DBA5F5';
$primary3: '#EEDFF2';
$accent1: '#6979F8';
$accent2: '#A5AFFB';
$accent3: '#E5E7FA';
$semanticYellow1: '#FFCF5C';
$semanticYellow2: '#FFE29D';
$semanticYellow3: '#FFF8E7';
$semanticOrange1: '#FFA26B';
$semanticOrange2: '#FFC7A6';
$semanticOrange3: '#FFE8DA';
$semanticBlue1: '#0084F4';
$semanticBlue2: '#66B5F8';
$semanticBlue3: '#D5E9FA';
$semanticGreen1: '#00C48C';
$semanticGreen2: '#7DDFC3';
$semanticGreen3: '#D5F2EA';
$semanticRed1: '#FF647C';
$semanticRed2: '#FDAFBB';
$semanticRed3: '#FBE4E8';
$neutral1: '#1A051D';
$neutral2: '#3F3356';
$neutral3: '#D0C9D6';
$neutral4: '#ECE9F1';
$neutral5: '#F7F5F9';
$neutral6: '#FFFFFF';
